html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 150vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.page.home-page {
  background: url('../assets/bg.png') no-repeat center center/cover; 
  height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  padding-top: 70px; 
  color: rgb(255, 255, 255);
  text-align: center;
}

.page.home-page .content {
  max-width: 800px;
  margin: 30px auto;
}

.btn {
  border-radius: 5px;
  border: none;
  color: white;
  padding: 12px 24px;
  cursor: pointer;
  margin: 10px 0;
}
.search-btn {
  background: #28a745;
}
.search-btn:hover {
  background: #0f1b61;
}

/* Inputs */
input {
  display: block;
  margin: 20px auto;
  padding: 20px;
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input:focus {
  outline: none;
  border-color: #335e97;
}

/* Feature Section */
.feature-section {
  margin-top: 90px;
}
